<div class="container mt-4">
  <button class="btn btn-secondary mb-3" (click)="goBack()">← Назад</button>
  <h2 class="mb-4">Карточка библиотеки</h2>
  <div class="card">
    <div class="card-body">
      <p><strong>Полное официальное наименование:</strong> {{ library.FullName }}</p>
      <p><strong>Общепринятое наименование:</strong> {{ library.CommonName }}</p>
      <p><strong>ФИО руководителя:</strong> {{ library.ChiefName }}</p>
      <p><strong>Должность руководителя:</strong> {{ library.ChiefPosition }}</p>
      <p><strong>Сайт:</strong> {{ library.WebSite }}</p>
    </div>
  </div>
</div>
